<div class="page-wrapper">
    <div class="page-content--bge5">
      <div class="container">
        <div class="login-wrap">
          <div class="login-content">
            <div class="login-logo">
              <a href="#">
                <p class="login-box-msg alert alert success">
                  successfully password has been reset
                </p>
              </a>
            </div>
            <div class="login-form">
              <a href="/" class="btn btn-primary">login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  