<div class="page-wrapper">
    <div class="page-content--bge5">
      <div class="container">
        <div class="login-wrap">
          <div class="login-content">
            <div class="login-logo">
              <a href="#">
                <div class="navbar-brand">Forgot password</div>
              </a>
            </div>
            <div class="login-form">
              <form action="" method="post">
                {% csrf_token %} {{form.as_p}}
                <button class="btn btn-primary" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  