{% extends "base.html" %} {% block content %}

<div class="container" style="max-width: 600px">
  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Product | <span class="text-primary h4">{{action}}</span></h1>
  </div>
  <div class="py-5">
    <div class="row">
      <div class="col-12">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %} 
          {% if info %}
          <p class="text-primary">{{info}}</p>
          {% endif %} {{ form.as_p }}
          <button class="btn btn-primary">{{action}}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
